@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #3c434f;
}

.separator-pseudo:not(:last-child)::after {
  content: '|';
  margin: 0.5rem;
}

.bg-center-cover {
  background-size: cover !important;
  background-position: 50% 50% !important;
}

/* .select-wrap 
{
  border: 1px solid #777;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 0 5px 5px;
  width:200px;
  background-color:#ebebeb;
}

.select-wrap label
{
  font-size:10px;
  text-transform: uppercase;
  color: #777;
  padding: 2px 8px 0;
}

select
{
  background-color: #ebebeb;
  border:0px;
} */
